@font-face {
    font-family: 'Paladins';
    src: url('Fontes/Paladins/paladins.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Paladins';
    background-color: #1e1e1e;
}


.header{
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1);
    background-color: #1b1b1b;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header, nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

nav, ul li{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

nav ul li{
    margin-left: 0.5rem;
}